<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.mybatis.springboot.mapper.UpStreamInstanceMapper">
  <resultMap id="BaseResultMap" type="tk.mybatis.springboot.model.UpstreamInstance">
    <!--
      WARNING - @mbg.generated
    -->
      <result column="upstream_id" jdbcType="VARCHAR" property="upStreamId" />
      <result column="status"  property="status" />
      <result column="upstream_name" jdbcType="VARCHAR" property="upStreamName" />
      <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
      <result column="updator_id" jdbcType="BIGINT" property="updatorId" />
      <result column="update_time" jdbcType="BIGINT" property="updateTime" />
     <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="create_time"  property="createTime" />
    <result column="delete_flag"  property="deleteFlag" />
  </resultMap>

  <insert id="insert" parameterType="tk.mybatis.springboot.model.UpstreamInstance" useGeneratedKeys="true" keyProperty="id">
        insert into tb_upstream_instance(upstream_id,upstream_name,ip_address,client_id,create_time,delete_flag) values
        (#{upStreamId},#{upStreamName},#{ipAddress},#{clientId},#{createTime},#{deleteFlag})
  </insert>

  <select id="getList" resultMap="BaseResultMap" parameterType="tk.mybatis.springboot.model.UpstreamInstance">
        select * from tb_upstream_instance where  delete_flag = 0 and  upStream_id =  #{upStreamId}
  </select>


    <select id="getById" resultMap="BaseResultMap">
        select * from tb_upstream_instance where  delete_flag = 0 and status = 0 and id = #{id}
  </select>


    <select id="getUpstreams" resultMap="BaseResultMap">
        select * from tb_upstream_instance where  delete_flag = 0 and status = 0 and upStream_id = #{upstreamId}
  </select>


    <update id="updateUpStream" parameterType="tk.mybatis.springboot.model.UpstreamInstance">
        update tb_upstream_instance set upStream_id = #{upstreamId},upstream_name=#{upStreamName},ip_address=#{ipAddress}
         where id = #{id}
  </update>

  <update id="deleteUpStream" parameterType="tk.mybatis.springboot.model.UpstreamInstance">
        update tb_upstream_instance set delete_flag = 1
         where id = #{id}
  </update>

  <update id="enableOrDisable" parameterType="tk.mybatis.springboot.model.UpstreamInstance">
        update tb_upstream_instance set status = #{status}
         where id = #{id}
  </update>



</mapper>